@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500;600;700;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 2%;
    --foreground: 0 0% 100%;
    --foreground-secondary: 180 6% 64%;

    --primary: 318 90% 70%;
    --primary: 120 50% 58%;

    --brand: 318 90% 70%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary-foreground: 210 40% 98%;
    --primary-asset: 335 91% 48%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --header-height: 5rem;
    --footer-height: 13.5rem;
    --footer-height-mobile: 20rem;

    --auth-btn-radius: 8px;

    --register-secondary: 0 0% 97%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  html {
    @apply max-w-7xl mx-auto px-4 bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Rethink Sans', sans-serif; */

  }
}

@keyframes background {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}




/* research card */
/* .main * {
  border: 1x solid red;
}

.researches {
  margin: 200px auto;
  border: 1px solid rgb(110, 99, 160);
  padding: 1.5rem 3rem;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  backdrop-filter: blur(14px);
  background-color: rgba(94, 80, 109, 0.18);
  transition: ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: justify;
  max-width: 90%;
}

.researches:hover {
  transform: scale(0.98);
}

.button {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  background-color: #5de9ff;
  background-color: rgb(213, 204, 255);
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  color: #232536;
  cursor: pointer;
  display: inline-flex;
  font-weight: bold;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin: 15px auto;
  padding: 10px 15px;
}

.button:focus {

  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {

  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.researches h3 {
  margin: 10px auto;
  font-size: 18px;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}


.upvote {
  margin-left: auto;
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid rgb(229, 223, 255);
  background-color: rgb(195, 182, 255);
}

.upvote:active {
  background-color: rgb(126, 110, 199);
  color: #232536;
}

.arrow {
  background: transparent;
  border: solid rgb(34, 32, 41);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}


.triangle {
  padding: 10px;
  width: 60px;
  height: 30px;
  border-bottom: solid 30px rgb(210, 187, 249);
  border-left: solid 0px transparent;
  border-right: solid 30px transparent;
} */


@media screen and (max-width: 768px) {

  .main {
    margin: 0;
    padding: 0;
  }

  /* .researches {
    .researches h3 {
      margin: 10px auto;
      font-size: 16px;
    }

    .researches p {
      font-size: 14px;
    }

    .button {
      font-size: 14px;
      margin: 10px auto;
      padding: 10px;
    }

    .upvote {
      margin: auto 12px;
    }
  } */
}